@model IEnumerable<MariosSpecialtyStore.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h2>Product List</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div>
    <div class="row">
        <div class="col-md-12">
            <div class="card-deck">
		        @foreach (var product in Model)
                {
                  <div class="card">
                    <img class="card-img-top" src="../../wwwroot/images/ImagePlaceholder.png" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">@Html.DisplayFor(m => product.Name)</h4>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text">@Html.DisplayFor(m => product.Country)</p>
                      <p class="card-text">@Html.DisplayFor(m => product.Cost)</p>
				      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
			    }
            </div>
        </div>
    </div>
</div>