<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MariosSpecialtyStore</title>

     <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
</head>
	
<body>
    <header>
        <div class="container">
            <div class="row top-nav">
                <div class="col-md-4">
                    <h4 class="logo">MARIO'S SPECIALTY FOODS</h4>
				</div>
				<div class="col-md-8">
                    <ul>
                        <li>Products</li>
                        <li>Reviews</li>
					</ul>
				</div>
			</div>
		</div>
	</header>

		
    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - MariosSpecialtyFoods</p>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
